<!--<div class="board">
    <div class="button green"></div>
    <div class="button red"></div>
    <div class="button yellow"></div>
    <div class="button blue"></div>
  </div>
-->




<div class="controles">
    <button (click)="iniciarJuego()">Iniciar Juego</button>
    <span>Ronda: {{ ronda }}</span>
  </div>
  <div class="tablero">
    @for (color of coloresTablero; track color) {
      <div
        class="boton {{ color }}"
        [class.activo]="colorActivo === color"
        (click)="alHacerClick(color)">
      </div>
    }
  </div>


  