<header>
  <!-- <h1>{{ title }}</h1>-->
</header>

<main>
  <div id="box-logo">
    <img
      id="logo"
      [class.expandido]="showButton"
      src="assets/logo.png"
      alt=""
    />
  </div>
  <h2>{{ [userForm.value.name] }}</h2>

  <!-- @if(userForm.value.name==""){-->
  @if (nombrecito == '') {
    <p>What your name?</p>
    <p>Game Player Name</p>

    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
      <label for="username">Nombre:</label>
      <input type="text" id="username" formControlName="name" />

      <button type="submit">Enviar</button>
    </form>
  } @else {
    <div class="grid" id="buttons" [class.visible]="showButton">
      <div (click)="goUrl('/game')" class="box green" id="play">
        <div class="circle" id="green"></div>
        <div class="label text">Play</div>
      </div>
      <div (click)="goUrl('/score')" class="box red" id="score">
        <div class="circle" id="red"></div>
        <div class="label text">Score</div>
      </div>
      <div (click)="goUrl('/rules')" class="box yellow" id="rules">
        <div class="circle" id="yellow"></div>
        <div class="label text">Rules</div>
      </div>
      <div (click)="goUrl('/about')" class="box blue" id="about">
        <div class="circle" id="blue"></div>
        <div class="label text">About</div>
      </div>
    </div>
  }
</main>

<footer>
  <small></small>
</footer>
