<app-menu></app-menu>

<main class="rules-page">
  <!-- Título -->
  <header class="rules-page__header">
    <h1>Rules</h1>
  </header>

  <!-- Contenido de las reglas -->
  <section class="rules-page__content">
    <ol class="rules-list">
      <li>
        <strong>Start</strong>
        <p>
          Press Start to have the game generate and display the first round.
        </p>
      </li>
      <li>
        <strong>Sequence</strong>
        <p>
          The game lights up one pad at a time (green, red, yellow, blue),
          adding one more step each round.
        </p>
      </li>
      <li>
        <strong>Repetition</strong>
        <p>
          You must replicate the sequence in the exact same order, pressing each
          pad once Simon has finished lighting it.
        </p>
      </li>
      <li>
        <strong>Right vs. Wrong</strong>
        <p>
          If you’re correct, you advance to the next round (and the sequence
          grows).<br />
          If you’re wrong, you start over.
        </p>
      </li>
      <li>
        <strong>Goal</strong>
        <p>
          Reach as high a level as you can by memorizing the sequence; each
          completed level adds one point. Aim to hit the maximum level without
          failing!
        </p>
      </li>
    </ol>
  </section>
</main>
